@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 700px;
    background: url(./images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
    background-position: 0%;
    /* outline: 1px solid red; */
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.Logo {
    font-size: 36px;
    color: #ffffff;
    font-weight: 300;
}
ul {
    display: flex;
}
ul li {
    list-style: none;
    margin-right: 20px
}
ul li a {
    text-decoration: none;
    color: #ffffff;
}
/* Navbar */

.header-banner {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.header-banner h1 {
    font-size: 64px;
    color: #ffffff;
}
.header-banner p {
    padding: 0.5rem 20rem;
    color: #ffffff;
}
.header-btn {
    margin-top: 1.5rem;
}
.header-btn a {
    text-decoration: none;
    background-color: #ffffff;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}
/* Header */

.info {
    height: 1525px;
}
.text-info {
    text-align: center;
    padding: 80px;
    margin: 20px 50px 60px 50px;
}
.text-info h3 {
    font-size: 36px;
    font-weight: 400;
}
.line {
    width: 170px;
    height: 2px;
    background-color: #071952;
    margin: 14px auto;
}
.our {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.our-stories {
    padding: 90px 50px;
    background-color: #071952;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
}
.our-mission {
    padding: 90px 50px;
    background-color: #252525;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
}
.our-vision {
    padding: 90px 50px;
    background-color: #071952;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
}
.our-stories h3 {
    font-size: 36px;
    padding: 10px 0;
}
.our-mission h3 {
    font-size: 36px;
    padding: 10px 0;
}
.our-vision h3 {
    font-size: 36px;
    padding: 10px 0;
}
.services {
    margin: 150px auto;
}
.services h1 {
    text-align: center;
    font-size: 36px;
}
.all-services {
    /* border: 1px solid red; */
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.all-services span {
    background-color: #071952;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px ;
}

.experience {
    background-color: #071952;
    margin-bottom: 130px;
}
.all-experiences {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all-experiences span h1 {
    font-size: 64px;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
}
.all-experiences span p {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.portfolio-info {
    text-align: center;
    /* border: 1px solid red; */
    margin: 50px 300px;
}
.portfolio-info h3 {
    font-size: 36px;
}
.portfolio-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 100px;
}
.portfolio-images img {
    width: 100%;
}

.review {
    height: 320px;
    background-color: #071952;
}
.client {
    display: flex;
    align-items: center;
}
.client-review {
    height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.client-info {
    padding: 20px;
    color: #ffffff;
}
.client-info h3 {
    font-size: 24px;
}
.line-white {
    height: 2px;
    width: 170px;
    background-color: #ffffff;
    margin: 10px 0;
}
.client-img img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

footer {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    color: #ffffff;
    font-size: 36px;
}